@charset "UTF-8";
@import "functions.scss";

body{
	font-family: "Open Sans", sans-serif;
}

body>main{
	overflow: hidden;
	-ms-overflow-x: hidden;
	@supports (-ms-ime-align: auto) {
		overflow: hidden;
	}
}
figure{
	margin: 0;
	overflow: hidden;
	img{
		width: 100%;
	}
}
.container{
	max-width: 1170px;
}

.header{
	@include flexDisplay(space-between, center);
	max-width: 1210px;
	width: 100%;
	position: absolute;
	z-index: 5;
	top: 30px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 5px #333;
	&__logo{
		padding: 20px;
		border-right: 1px solid #ccc;
	}
	&__navbar{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px;
		max-width: calc(100% - 100px);
		width: 100%;
		input{
			width: 300px;
			border-radius: 5px;
			background: none;
			padding: 10px 15px;
			outline: none;
		}
		button{
			border: none;
			background: no-repeat;
			transform: translateX(-40px);
			outline: none;
			&.header__navbar__btnSearch{
				display: none;
			}
		}
		&__menu{
			ul{
				display: flex;
				padding: 0;
				list-style: none;
				li{
					&:not(:last-of-type){
						margin-right: 30px;
					}
					a{
						color: #4D4D4D;
						font-weight: 600;
						font-size: 1.4rem;
						text-decoration: none;
					}
				}
			}
		}
		&__user{
			display: flex;
			&--login{
				display: none;
				justify-content: space-between;
				align-items: center;
				figure{
					margin-right: 20px;
				}
				p{
					margin-right: 40px;
				}
				a{
					color: #4D4D4D;
					text-decoration: none;
					font-size: 2.2rem;
				}
			}
			&--register{
				a{
					color: #00A4D4;
					font-weight: 600;
					font-size: 1.4rem;
					text-decoration: none;
					&:first-of-type{
						margin-right: 30px;
					}
				}
			}
			&.login{
				.header__navbar__user--login{
					display: flex;
				}
				.header__navbar__user--register{
					display: none;
				}
			}
		}
		&__notification{
			position: absolute;
			top: 100px;
			right: 0;
			transition: all 0.5s ease;
			transform-origin: top center;
			border-radius: 5px;
			padding: 0 20px;
			height: 0;
			overflow: hidden;
			background-color: #fff;
			&::before{
				width: 15px;
				height: 15px;
				position: absolute;
				content: '';
				top: 0;
				right: 20px;
				transform: translateY(-50%) rotate(45deg);
				background-color: #fff;
			}
			&--noti{
				padding: 15px 0;
				opacity: 0;
				transition: all 0.3s ease;
				transition-delay: 0.3s;
				&:not(:last-of-type){
					border-bottom: 1px solid #333;
				}
				p{
					font-size: 1.3rem;
					color: #000;
					&:last-of-type{
						color: rgba(0, 0, 0, 0.3);
					}
					span{
						color: #00A4D4;
					}
				}
			}
			&.expand{
				overflow: unset;
				padding-top: 20px;
				.header__navbar__notification--noti{
					opacity: 1;
				}
			}
		}
		&__hamburger{
			width: 25px;
			height: 25px;
			display: none;
			justify-content: space-between;
			align-items: center;
			.dots{
				width: 5px;
				height: 5px;
				border-radius: 50%;
				background-color: #000;
			}
		}
	}
	@include tablet{
		top: 0;
		border-radius: 0;
		&__logo{
			border-right: none;
		}
		&__navbar{
			justify-content: flex-end;
			form{
				display: flex;
				width: 8%;
				overflow: hidden;
				transition: all 0.5s ease;
				transform-origin: right center;
				input{
					margin-right: 10px;
					transform-origin: right center;
					transition: all 0.5s ease;
					transform-origin: right center;
					transform: scale(0);
				}
				button{
					transform: unset;
					i{
						font-size: 3rem;
					}
				}
				&.expand{
					width: 55%;
					input{
						transform: scale(1);
					}
				}
			}
			&__btnSearch{
				display: block !important;
				overflow: hidden;
				outline: none;
				i{
					font-size: 3rem;
				}
				&.hide{
					z-index: -1;
				}
			}
			&__menu{
				height: 0;
				overflow: hidden;
				position: absolute;
				width: 100%;
				top: 80px;
				left: 0;
				transition: all 0.5s ease;
				&.expand{
					background: #fff;
					display: flex;
					justify-content: center;
					align-items: center;
					height: 100vh;
					ul{
						flex-flow: column wrap;
						transform: translateY(-80px);
						li{
							margin: 20px 0;
							a{
								font-size: 2.2rem;
							}
						}
					}
				}
			}
			&__user{
				&--login{
					flex-flow: row-reverse nowrap;
					p{
						display: none;
					}
					figure{
						margin-right: 30px;
					}
					a{
						font-size: 3rem;
						margin-right: 3rem;
					}
				}
			}
			&__hamburger{
				display: flex;
			}
			&__notification{
				right: 125px;
			}
		}
	}
}
.filmInfo{
	color: #262626;
	max-width: 570px;
	width: 100%;
	h2{
		font-size: 4rem;
		font-weight: bold;
		margin-bottom: 20px;
	}
	p.filmInfo__category{
		font-size: 1.5rem;
		font-weight: 300;
		margin-bottom: 20px;
		opacity: 0.8;
	}
	p.filmInfo__content{
		font-size: 1.5rem;
		margin-top: 20px;
		line-height: 1.5;
	}
	&__action{
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 470px;
		width: 100%;
		margin-top: 30px;
		a{
			padding: 10px 25px;
			color: #fff;
			text-decoration: none;
			background-color: rgba(255,255,255,0.2);
			border-radius: 5px;
		}
	}
}
.tagName{
	font-size: 2.2rem;
	color: #262626;
	margin-bottom: 20px;
	i{
		font-size: 1rem;
		margin-left: 5px;
		transform: translateY(-3px);
	}
}
.rating{
	display: flex;
	align-items: center;
	color: #ffca52;
	i{
		margin-right: 5px;
	}
}
.blockSlide{
	margin: 70px auto 0;
	max-width: 1440px;
	width: 100%;
	overflow: hidden;
	&__slide{
		.btn-arrow{
			width: 50px;
			height: 50px;
			border-radius: 50%;
			background: rgba(38,38,38,0.5);
			display: flex;
			justify-content: center;
			align-items: center;
			text-decoration: none;
			color: #fff;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			z-index: 1;
			i{
				font-size: 1.6rem;
			}
			&-left{
				left: -75px;
			}
			&-right{
				right: -75px;
			}
		}
		&__child{
			position: relative;
			margin: 0 15px;
			outline: none;
			opacity: 0.6;
			transition: all 0.5s ease;
			&.dim{
				opacity: 1;
			}
			&.op0{
				opacity: 0;
			}
			&--info{
				background-color: #fff;
				padding: 10px;
				h3{
					color: #262626;
					font-weight: bold;
					font-size: 1.7rem;
				}
				p{
					font-size: 1.5rem;
					color: #262626;
					font-weight: 300;
					margin: 10px 0;
				}
			}
			figure{
				position: relative;
				z-index: 0;
			}
			&--title{
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
				width: 100%;
				padding: 30px;
				color: #fff;
				h3{
					font-size: 1.7rem;
					font-weight: bold;
					line-height: 1.5;
				}
				p{
					font-size: 1.5rem;
					line-height: 2;
				}
			}
		}
		.slick-list{
			overflow: visible;
			width: calc(100% + 30px);
			transform: translateX(-15px);
		}
	}
}
.twoblock{
	position: relative;
	.btn-arrow{
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background: rgba(2,0,36,0.5);
		display: flex !important;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		color: #fff;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 1;
		i{
			font-size: 1.6rem;
		}
		&-left{
			left: -75px;
		}
		&-right{
			right: -75px;
		}
	}
	&__child{
		display: flex !important;
		justify-content: space-between;
		outline: none;
	}
	&__content{
		max-width: calc(50% - 110px);
		width: 100%;
		.filmInfo{
			max-width: 100%;
			&__action a{
				background-color: #00A4D4;
				color: #fff;
			}
		}
	}
	&__video{
		width: calc(50% + 90px);
		video{
			width: 100%;
		}
	}
}

.footer{
	background-color: #fff;
	padding: 40px;
	&__menu{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding-bottom: 30px;
		border-bottom: 1px solid #ccc;
		&__child{
			h2{
				font-size: 1.7rem;
				font-weight: bold;
				color: #808080;
			}
			ul{
				padding: 0;
				list-style: none;
				li{
					margin: 20px 0;
					a{
						color: #808080;
						font-size: 1.5rem;
						text-decoration: none;
					}
				}
			}
			&:first-of-type ul li a{
				font-style: italic;
			}
		}
		.footer__inApp{
			display: none;
		}
	}
	&__info{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px 0 0;
		.footer__inApp{
			justify-content: flex-end;
			a{
				margin-left: 20px;
				margin-right: 0;
			}
		}
	}
	&__inApp{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		a{
			margin-right: 20px;
		}
	}
	@include tablet{
		padding: 20px;
		&__menu{
			flex-flow: row wrap;
			&__child{
				&--address{
					width: 100%;
				}
				&--account{
					width: 50%;
				}
				&--faq{
					width: 50%;
				}
				&--social{
					width: 100%;
					ul{
						display: flex;
						justify-content: space-between;
						align-items: center;
						flex-flow: row wrap;
						li{
							width: 50%;
						}
					}
				}
				&:not(:last-child){
					margin-bottom: 20px;
				}
			}
			.footer__inApp{
				display: flex;
				padding: 30px 0 50px;
			}
		}
		&__info{
			.footer__inApp{
				display: none;
			}
		}
	}
}