/* common */
a {
    color: #000;
}
a:focus, a:hover {
    opacity: 0.8;
    text-decoration: none;
}
.row-fix {
    padding-left: 0;
    padding-right: 0;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.box-login .error {
    color: #ff5252;
    font-size: 13px;
    display: block;
    text-align: left;
    margin-top: -10px;
    padding-left: 11%;
    padding-bottom: 15px;
}
.btn-blue {
    background: #00a4d4;
    border-radius: 4px;
    font-style: normal;
    font-size: 13px;
    line-height: 18px;
    color: #fff;
    padding: 12px 36px;
}
.btn-white {
    background: #fff;
    border: 1px solid #00a4d4;
    border-radius: 4px;
    font-size: 13px;
    line-height: 18px;
    padding: 12px 36px;
}
.wrap-view h5 a {
    color: #333;
}
.pt15 {
    padding-top: 15px;
}
.pb20 {
    padding-bottom: 20px;
}
.pt30 {
    padding-top: 30px;
}
.pt32 {
    padding-top: 32px;
}
.pt36 {
    padding-top: 36px;
}
.pl35 {
    padding-left: 35px;
}
.pb12 {
    padding-bottom: 12px;
}
.pb32 {
    padding-bottom: 32px;
}
.pb45 {
    padding-bottom: 45px;
}
.pt50 {
    padding-top: 50px;
}
.pl12 {
    padding-left: 12px;
}
.mt15 {
    margin-top: 15px;
}
.mb15 {
    margin-bottom: 15px;
}
.mt25 {
    margin-top: 25px;
}
.mt34 {
    margin-top: 34px;
}
.mb45 {
    margin-bottom: 45px;
}
.mb70 {
    margin-bottom: 70px;
}
.mv-news {
    position: relative;
    z-index: 0;
    margin-bottom: 50px;
    overflow: hidden;
}
.common-title {
    position: absolute;
    height: 52px;
    left: 135px;
    top: 248px;
}
.common-title h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    letter-spacing: -0.02em;
    color: #fff;
}
.detail-news h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 130%;
    color: #000000;
    padding-top: 52px;
    padding-bottom: 6px;
}
.detail-news p {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 155.56%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.detail-news p span {
    color: #f7a333;
}
.wrap-news h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 1.5;
    padding-top: 10px;
    color: #000;
}
.wrap-news h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    color: #000;
    padding-top: 1rem;
    line-height: 1.5;
}
.detail-news p {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 155.56%;
}
.wrap-news p, .wrap-view p {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    padding-top: 14px;
    padding-bottom: 14px;
}
.wrap-news p span, .wrap-view p span {
    color: #f7a333;
}
.wrap-view h3, .detail-news h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: #000000;
}
.wrap-view h4, .detail-news h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 137.8%;
    color: #000000;
    padding-right: 3rem;
}
.wrap-view h5, .detail-news h5 {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #333;
}
.wrap-view .row {
    padding-top: 20px;
    padding-bottom: 20px;
}
.box-right .row {
    padding-top: 20px;
    padding-bottom: 10px;
}
.box-right p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: rgba(51, 51, 51, 0.7);
}
a.btn-download {
    background: #1a1a1a;
    border-radius: 25px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    padding: 15px 39px;
}
/*-- Login --*/

.bg-login {
    margin: 0 auto;
    background-image: url("../images/login/img-bg-login.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.bg-register {
    margin: 0 auto;
    background-image: url("../images/login/img-bg-register.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.bg-forgot-pw {
    margin: 0 auto;
    background-image: url("../images/login/img-bg-forgotpass.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.login .btn {
    position: absolute;
    left: 135px;
    top: 62px;
    border-radius: 4px;
    background: rgb(57,58,74);
    padding: 14px 28px;
}
.login .btn-register {
    position: absolute;
    left: 135px;
    top: 62px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.2);
    padding: 14px 28px;
}
.btn-blue-lg {
    max-width: 90%;
    display: block;
    text-align: center;
    margin: 0 auto;
}
.login a.btn-text {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #fff;
}
.login .box-login {
    position: absolute;
    left: 65.6%;
    right: 7.99%;
    top: 7.75%;
    background: #fff;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.35);
    border-radius: 4px;
    padding-bottom: 50px;
    text-align: center;
    max-width: 510px;
}
.login .box-login .logo {
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 56px;
}
.login .box-login h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    text-align: center;
    color: #000000;
    padding-bottom: 30px;
}
.login .box-login .form-input {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 85%;
    line-height: 38px;
    margin-bottom: 15px;
    padding-left: 16px;
    color: #4d4d4d;
}
.login .box-login .form-select {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 85%;
    line-height: 38px;
    margin-bottom: 15px;
    padding-left: 16px;
    height: 40px;
    color: #4d4d4d;
}
.login .box-login p {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #808080;
    line-height: 1.4;
    text-align: center;
}
.login .box-login p a {
    color: #808080;
}
.login .box-login p span a {
    color: #00a4d4;
    font-weight: bold;
}
.login .forgot-password p {
    padding-left: 55px;
    padding-right: 55px;
}
.or {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    margin: 20px auto;
    font-size: 13px;
    color: #808080;
}
.or b {
    display: block;
    flex: 1;
    height: 1px;
    background-color: #ccc;
}
.or span {
    padding-left: 15px;
    padding-right: 15px;
}
.login .radio {
    margin: 0.5rem;
    display: inline;
    font-size: 13px;
}
.login  .radio input[type="radio"] {
    position: absolute;
    opacity: 0;
}
.login .radio input[type="radio"] + .radio-label:before {
    content: "";
    background: #f4f4f4;
    border-radius: 100%;
    border: 1px solid #b4b4b4;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    position: relative;
    top: -0.2em;
    margin-right: 1em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
}
.login .radio input[type="radio"]:checked + .radio-label:before {
    background-color: #00a4d4;
    box-shadow: inset 0 0 0 4px #f4f4f4;
}
.login .radio input[type="radio"]:focus + .radio-label:before {
    outline: none;
    border-color: #00a4d4;
}
.login .radio input[type="radio"]:disabled + .radio-label:before {
    box-shadow: inset 0 0 0 4px #f4f4f4;
    border-color: #b4b4b4;
    background: #b4b4b4;
}
.login .radio input[type="radio"] + .radio-label:empty:before {
    margin-right: 0;
}
.opacity08 {
    opacity: 0.8;
}
.category-page .wrapper {
    position: relative;
    margin: 0 auto;
}
.category-page .wrapper img {
    width: 100%;
    opacity: 0.8;
}
.category-page .description {
    position: absolute;
    bottom: 40%;
    left: 0px;
    width: 100%;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 27px;
}
.setting-list ul {
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
}
.setting-list ul li {
    font-weight: bold;
    font-size: 17px;
    line-height: 3.2;
    color: #000000;
    list-style: none;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
}
.setting-list ul li a {
    color: #000;
}
.setting-list ul li a:hover {
    opacity: 0.8;
}
.float-right {
    float: right;
}
.setting-list ul li:last-child a {
    color: #ff5252;
}
.subscription h2, .payment h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    text-transform: uppercase;
    color: #000000;
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
}
.subscription p {
    font-size: 15px;
    line-height: 155.56%;
    text-align: center;
    color: #000000;
}
.subscription .btn-blue {
    background: #00a4d4;
    border-radius: 4px;
    font-style: normal;
    font-size: 13px;
    line-height: 18px;
    color: #fff;
    padding: 12px 36px;
    margin: 3px;
}
.subscription .btn-white {
    background: #fff;
    border: 1px solid #00a4d4;
    border-radius: 4px;
    font-size: 13px;
    line-height: 18px;
    padding: 12px 36px;
    margin: 3px;
}
.subscription .box {
    background: #fff;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    text-align: center;
}
.subscription .box.box-height {
    height: 380px;
}
.subscription .title {
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #00a4d4;
    padding-top: 48px;
    padding-bottom: 12px;
}
.subscription .price {
    font-weight: 800;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #262626;
    padding-bottom: 24px;
}
.payment {
    max-width: 570px;
}
.payment .form-group label {
    font-weight: bold;
    font-size: 17px;
    color: #262626;
    padding-bottom: 6px;
    padding-top: 6px;
}
.payment .form-control {
    background: #fff;
    border: 1px solid #262626;
    box-sizing: border-box;
    border-radius: 4px;
    height: 40px;
}
.payment .form-control.w40 {
    width: 40%;
}
@media screen and (max-width: 1440px) {
    .login .box-login {
        left: 54.6%;
    }
}
@media screen and (max-width: 768px) {
    .mv-news {
        margin-top: 11%;
    }
    .bg-login {
        background: transparent;
    }
    .bg-register {
        background: transparent;
    }
    .bg-forgot-pw {
        background: transparent;
    }
    .login .btn {
        display: none;
    }
    .login .box-login {
        position: relative;
        left: 0!important;
        right: 0;
        top: 0;
        background: #fff;
        box-shadow: none;
        border-radius: 0;
        padding-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
    }
    .setting-list ul {
        padding-right: 40px;
    }
}

@media screen and (max-width: 480px) {
    .mv-news {
        margin-top: 22%;
    }
    .login .box-login .form-input {
        width: 80%;
    }
    .btn-blue {
        padding: 12px 30%;
    }
    .btn-blue-lg {
        max-width: 90%;
    }
    .btn-blue-lg {
        padding: 12px 5%;
    }
    .setting-list ul {
        padding-right: 40px;
    }
    .subscription .btn-blue, .subscription .btn-white {
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}